/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.modal{
  padding:32px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

}
h1{
  font-weight: bold;
  font-size: 32px;
}
h3{
  font-size: 14px;
  color: #696868;
}
h4{
  font-size: 12px;
  color: #696868;
}
svg{
  width: auto !important;
  height: auto !important;
}
.active{
  background: white;
  color: black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@media screen and (min-width: 768px) {
 svg{
  width: 100% !important;
  height: 100% !important;
}
  
}